@import url(//fonts.googleapis.com/css?family=Ubuntu);@import url(//fonts.googleapis.com/css?family=Advent+Pro);a.anchor{display:block;position:relative;top:-70px;visibility:hidden;}
body{background-color:#000000;background-image:url('../img/space-wallpaper.jpg');background-position:center;background-repeat:no-repeat;background-size:cover;margin:0px;padding:0px;height:100%;width:100%;font-family:"Advent Pro", Times, sans-serif;}
body > .container{padding:65px 10px 0;}
body > .row{margin:10px;}
h1.name{color:white;text-align:center;font-family:"Ubuntu";font-size:750%;}
html{min-height:100%;position:relative;}
object{width:100%;height:100%;border:0;}
.about{color:white;text-align:center;}
.center_text{color:white;text-align:center;font-family:"Advent Pro";font-weight:900;font-size:200%;}
.center_text_images{margin:auto;text-align:center;}
.center_text_nohighlight{color:black;text-align:center;font-size:200%;}
.center_text_small{color:white;text-align:center;font-family:"Advent Pro";font-weight:900;font-size:120%;}
.content{width:70%;margin:0px auto;padding:0px;border:0px;background-color:transparent;}
.embed-container{height:0;width:100%;padding-bottom:130%;overflow:hidden;position:relative;}
.embed-container iframe{width:100%;height:100%;position:absolute;top:0;left:0;}
.highlight{background-color:black;}
.highlight_centered{background-color:black;color:white;font-family:"Advent Pro";font-weight:900;font-size:200%;text-align:center;}
.highlight_text_underline{background:black;font-weight:bold;text-decoration:underline;}
.highlight_text_underline_centered{background-color:black;color:white;font-family:"Advent Pro";font-weight:900;font-size:200%;text-align:center;font-weight:bold;text-decoration:underline;}
.left_align{color:white;text-align:left;font-family:"Advent Pro";font-size:200%;}
.sidebar-nav{padding:9px 0;}
.dropdown-menu .sub-menu{left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}
.dropdown-menu li:hover .sub-menu{visibility:visible;}
.dropdown:hover .dropdown-menu{display:block;}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu{margin-top:0;}
.navbar .sub-menu:before{border-bottom:7px solid transparent;border-left:none;border-right:7px solid rgba(0, 0, 0, 0.2);border-top:7px solid transparent;left:-7px;top:10px;}
.navbar .sub-menu:after{border-top:6px solid transparent;border-left:none;border-right:6px solid #fff;border-bottom:6px solid transparent;left:10px;top:11px;left:-6px;}