/*
    This file contains CSS classes / IDs used to override the Creative Bootstrap Theme
*/

.text-small {
  font-size: 100%;
}

.text-blue {
  color: blue;
}

.min-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}

.min-padding-top {
  padding-top: 3em;
  padding-bottom: 0em;
}
